<!DOCTYPE html>

<html>
  <head>
    {% block head %}
    <title> Principal </title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/side-bar.css') }}">
  </head>

  <body>
    <div class = side-bar>
      <button onclick="navigateToPage(' {{url_for('main_page')}} ')"> Principal </button>
      <button onclick="navigateToPage(' {{url_for('clients_page')}} ')"> Clientes </button>
      <button onclick="navigateToPage(' {{url_for('storage_page')}} ')"> Estoque </button>    
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>             
    </div>
    
    <div class = painel>
      {% block painel %}
        div
      {% endblock%}
    </div>

  </body>
</html>